<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<script>
			console.log("Hello World");
			function myfunction(){
				console.log("Hello World");
			}
		</script>
		<h1>Hello, HTML.</h1>
		<p>Do not use until Challenge #12</p>
     <form action="/name" method="post" onSubmit="myfunction()">
      <label>Your Name: <input type="text"></label>
      <input type="submit" value="Submit">
    </form> 
	</body>

</html>
